//compileExpanded: modal.css

.modal {
  display: none;
  //display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  
  transition: opacity 1s ease;
  &.visible {
    opacity: 1;
    display: flex;
  }
  
  //modal
  .main {
    display: flex;
    position: relative;
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    z-index: 9999;
    
    .btn {
      position: absolute;
      background-color: #fff;
      line-height: 0;
      padding: 13px;
      border: 1px solid deepskyblue;
      border-radius: 99px;
      color: deeppink;
      right: 20px;
      top: 20px;
      cursor: pointer;
      z-index: 10000;
    }
    .content {
      border: solid #000;
      border-width: 3px;
      border-radius: 30px;
      
      background-color: #fff;
      padding: 30px;
      
      text-align: center;
      overflow-y: scroll;
      
      h1 {
        
      }
      h2 {
        margin: 10px;
      }
      img {
        width: 30%;
        height: auto;
        float: left;
        margin: 0px 10px;
        border-radius: 20px;
      }
      p {
        font-size: 1.4em;
        white-space: normal;
        text-align: justify;
      }
      a {
        position: static;
        display: block;
        bottom: 10px;
      }
    }
  }
}