body {
  overflow: hidden;
}

#chat_textbox {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0px;
    outline: none;
    color: #FFF;
    height: 30px;
    left: 10px;
    width: 300px;
}

#chat_textbox:focus {
    background: rgba(0, 0, 0, .5);
}
#chat_display {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  overflow: auto;
  font: "Ubuntu";
  font-size: 18px;
  z-index: 1;
  bottom: 40px;
  background: rgba(51, 51, 51, .5);
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 20px 20px 0px 0px;
  border: 0px;
  outline: none;
  color: #FFF;
  height: 200px;
  left: 10px;
  width: 300px;
}
#chat_banner {
  position: absolute;
  left: 10px;
  bottom: 55px;
  text-align: center;
  font: Papyrus;
  font-size: 18px;
  color: #FFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  height: 200px;
  width: 300px; 
}